.loading,
.loading:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
.loading {
    background-color: #b3d4fc;
    display: -webkit-flex;
    display: flex;
}
.loading:before {
    background-color: #3f51b5;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
@keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

/** Google*/
.progressbar {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    transform: translateZ(0);
    -webkit-transition: opacity 250ms linear;
    height: 1px;
}

.BOyz9e,
.olbqgf {
    transform-origin: top left;
    -webkit-transition: transform 250ms ease;
    background-color: transparent;
}

.b1 .mvzy7 {
    animation: primary-indeterminate-translate 2s infinite linear;
}

.b1 .mvzy7 .SB3qXd {
    animation: primary-indeterminate-scale 2s infinite linear;
}

.SB3qXd {
    display: inline-block;
}

.b1 .hOWNzc {
    animation: auxiliary-indeterminate-translate 2s infinite linear;
}

.b1 .hOWNzc .SB3qXd {
    animation: auxiliary-indeterminate-scale 2s infinite linear;
}

.BOyz9e,
.olbqgf,
.KFh11e,
.SB3qXd {
    height: 100%;
    position: absolute;
    width: 100%;
}

@keyframes primary-indeterminate-translate {
    0% {
        transform: translateX(-145.166611%);
    }

    20% {
        animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
        transform: translateX(-145.166611%);
    }

    59.15% {
        animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
        transform: translateX(-61.495191%);
    }

    100% {
        transform: translateX(55.444446%);
    }
}

@keyframes primary-indeterminate-scale {
    0% {
        transform: scaleX(0.08);
    }

    36.65% {
        animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
        transform: scaleX(0.08);
    }

    69.15% {
        animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
        transform: scaleX(0.661479);
    }

    100% {
        transform: scaleX(0.08);
    }
}

@keyframes auxiliary-indeterminate-translate {
    0% {
        animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
        transform: translateX(-54.888891%);
    }

    25% {
        animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
        transform: translateX(-17.236978%);
    }

    48.35% {
        animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
        transform: translateX(29.497274%);
    }

    100% {
        transform: translateX(105.388891%);
    }
}

@keyframes auxiliary-indeterminate-scale {
    0% {
        animation-timing-function: cubic-bezier(0.205028, 0.057051, 0.57661, 0.453971);
        transform: scaleX(0.08);
    }

    19.15% {
        animation-timing-function: cubic-bezier(0.152313, 0.196432, 0.648374, 1.004315);
        transform: scaleX(0.457104);
    }

    44.15% {
        animation-timing-function: cubic-bezier(0.257759, 0.003163, 0.211762, 1.38179);
        transform: scaleX(0.72796);
    }

    100% {
        transform: scaleX(0.08);
    }
}

/* progress bar */
.progress {
    appearance: none;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 2px !important;
    block-size: 0.25em;
}
@keyframes hithit {
    0% {
        left: 0;
    }
    100% {
        left: 70%;
    }
}
.progress::-webkit-progress-bar {
    background: #f3f4f6;
}
.progress::-webkit-progress-value {
    background: #f3f4f6;
}
.progress::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30%;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    background-size: 100% 0.25em;
    block-size: 100%;
    animation: hithit 1.2s linear infinite alternate;
}
