@tailwind base;
@tailwind components;
@tailwind utilities;

.resizer {
    user-select: none;
    touch-action: none;
}
@media (hover: hover) {
    *:hover > .resizer {
        opacity: 1;
    }
}

.validating-progress {
    height: 1px;
    position: absolute;
    transition: width 0.3s ease 0s;
    width: 0px;
    min-width: 33%;
    background: linear-gradient(to right, rgb(237, 235, 233) 0%, rgb(0, 120, 212) 50%, rgb(237, 235, 233) 100%);
    animation: 1s ease 0s infinite normal none running breeze;
}

@keyframes breeze {
    0% {
        left: -30%;
    }

    100% {
        left: 100%;
    }
}
